$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "OfficinaSerifBook";
$input-border-focus: #f5c21b;
$body-bg: #f2f2f2;
$text-color: #1e1e22;

$state-success-text: #42b249;
$state-success-bg: #daf1d6;

$state-danger-text: #ce0d24;
$state-danger-bg: #f9d6d5;

$state-info-text: #038fc1;
$state-info-bg: #cbebfb;

$state-warning-text: #f7c441;
$state-warning-bg: #fff7dc;
